.hero-container.blhero2.skhero1
  -#%img.hero-bg.hero-bg-left{ src: "/images/home/hero-bg-left.svg", alt: "Gitlab hero background left svg" }
  -#%img.hero-bg.hero-bg-right{ src: "/images/home/hero-bg-right.svg", alt: "Gitlab hero background right svg" }
  %span.hero-wave
  .hero-content
    .row
      .col-md-8
        %h1.bold-headline.margin-top0.hero-item
          GitLab named a Leader in Cloud-Native CI
        .hero-item.text-left
          %p Learn why GitLab was evaluated as a Leader by independent research firm
        .buttons-container.margin-top20.hero-item.u-margin-top-sm
          %a.btn.cta-btn.large.orange-light{ href: "/free-trial/" }
            Try GitLab for FREE
          %a.btn.cta-btn.large.btn-white.flex-container.align-center{ href: "/demo/" }
            .i.fas.fa-play.play-icon
            Watch a demo
      .col-md-4.special-link
        %p
          %a{ href: "/analysts/forrester-cloudci19/" }
            %img{ src: "/images/home/homepage-forrester-wave-2019.png" }
            %span Read the full report

%script{src: "/javascripts/libs/tweenmax.min.js", type: "text/javascript"}